.project-card{
    font-family: "Libre Baskerville", serif; 
    display: inline-block;
    background: linear-gradient(to bottom, #3c1053, #ad5389);
    margin: 2.5%;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Makes the effect of the project-card */
    transition: transform 0.5s;
    border-radius: 5%;
}

.project-card-medium {
    width: 23%;
    height: 9em;
}

.project-card-large {
    width: 25em;
    height: 15em;
}

.project-card a {  
    font-family: 'Dancing Script';
    font-size: 130%;
    text-align: justify;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.project-card-description {
    top: 100%;
}

.project-card:hover {
    box-shadow: 0px 0px 20px rgba(47, 145, 238, 0.847); 
    transform: scale(1.3);
}

/* .project-card span {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 2px;
  } */

/* .project-card i {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    line-height: 140px;
    text-align: center;
    background: linear-gradient(to bottom, #ad5389, #3c1053);
    z-index: 1;
    transition: transform 0.5s;
    } 
    
    .project-card:hover i{
        transform: translateY(-40%);
} */
