.slider {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(to top, #ad5389, #3c1053);
    z-index: 1;
    transition: transform 0.5s;
}

.slider:hover {
    transform: translateY(-40%);
  }
