.about-banner-text {
    color: white !important;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 2em;
}

.about-banner-text span {
    font-size: 160%;
    color: rgba(46, 145, 238, 0.849);
}

.about-banner-text p{
    margin: 0px;
    color: white;
    font-size: 20px;
    padding: 1em;
}

li {
    font-family: "Libre Baskerville", serif; 
    list-style-type: circle;
    margin: 3px;
    padding: auto;
    justify-content: left;
}

.about-name {
    font-family: 'Dancing Script', cursive;
    font-size: 200% !important;
}
