.about-banner-text {
    color: white;
    background-color: #0000006A;
    width: 60%;
    height: 100%;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
}

.about-banner-text span {
    font-size: 120%;
    color: rgba(46, 145, 238, 0.849);
}

.about-banner-text p{
    margin: 0px;
    color: white;
    font-size: 20px;
    padding: 1em;
}

.about-banner-text li {
    font-size: 130%;
    font-family: "Libre Baskerville", serif; 
    list-style-type: circle;
    margin: 3px;
    padding: auto;
    justify-content: left;
}

.about-name {
    font-family: 'Dancing Script', cursive;
    font-size: 200% !important;
}
