.about-banner-text {
    color: #facb4b;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2em;
    margin-top: 3%;
}

.about-banner-text span {
    font-size: 30px;
    color:  #f0f0f0;
}

.about-banner-text p{
    color: #fd8700;
    font-size: 20px;
    margin: 0px;
    margin-top: 2px;
    padding: 1em;
}

ul {
    text-align: left;
    margin-left: 20px;
}

li {
    font-family: "Libre Baskerville", serif; 
    list-style-type: circle;
    margin: 3px;
    padding: auto;
    justify-content: left;
    list-style-type: none;
}

.about-name {
    font-family: 'Podkova', serif;
    font-size: 40px !important;
}

@media only screen and (max-width: 768px) {
    .about-banner-text {
        font-size: 15px;

    }

    .about-banner-text span {
        font-size: 22.5px;
    }

    .about-name {
        font-size: 30px !important;
    }
}

@media only screen and (max-width: 420px) {
    .about-banner-text {
        font-size: 12px;
    }

    .about-banner-text span {
        font-size: 18px;
    }
    
    .about-name {
        font-size: 24px !important;
    }
}
