.contact-body {
    margin: auto; 
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
  }
  
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    color: white;
    margin-bottom: 20px;
  }

  .contact-grid-title h2{
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: rgba(46, 145, 238, 0.849);
  }

  .contact-img {
      width: 50%;
      height: 50%;
  }

  .contact-grid hr {
    width: 100%;
    margin: auto;
  }

  .contact-list {
    position: absolute;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    width: 100%;
    top: 50%;
  }

  .contact-list a {  
    font-family: 'Dancing Script';
    font-size: 130%;
    text-align: justify;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .contact-list-item {
    font-family: "Libre Baskerville", serif; 
    width: 220px;
    height: 140px;
    display: inline-block;
    background: linear-gradient(#3c1053, #ad5389);
    margin: 10px;
    position: relative;
    cursor: pointer;
  }

  .contact-list-item i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    line-height: 140px;
    text-align: center;
    background: linear-gradient(#ad5389, #3c1053);
    z-index: 1;
    transition: transform 0.5s;
  }

  .contact-list-item:hover {
    border-bottom: 2px solid rgba(46, 145, 238, 0.849);
  }

  .contact-list-item:hover i{
    transform: translateY(30%);
  }

  .contact-list-item span {
    width: 100%;
  }
