.contact-body {
    margin: auto; 
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
  }
  
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    color: white;
    margin-bottom: 20px;
  }

  .contact-img {
      width: 50%;
      height: 50%;
  }

  .contact-list {
    position: absolute;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    width: 100%;
    top: 33%;
  }

  .contact-list a {  
    font-family: 'Dancing Script';
    font-size: 130%;
    text-align: justify;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }

  .contact-list-item {
    font-family: "Libre Baskerville", serif; 
    width: 20vw;
    height: 10vw;
    display: inline-block;
    background: linear-gradient(#231f20, #333333);
    margin: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 5%;
    padding-top: 0.5%;
  }
  
  .contact-list-item i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 4vw;
    line-height: 200%;
    text-align: center;
    background: linear-gradient(#333333, #231f20);
    z-index: 1;
    transition: transform 0.5s;
  }

  .contact-list-item:hover {
    border-bottom: 2px solid #a420be;
  }

  .contact-list-item:hover i{
    transform: translateY(35%);
  }

  .contact-list-item span {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5vw;
  }
