.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .category-tab {
    /* font-family: 'Dancing Script', cursive; */
    color: white;
    font-size: 150%;
  }
  
  .category-tabs {
    display: block;
    position: absolute;
    width: 25%;
    transform: translate(-50%);
    left: 50%;
    border-top: 1px solid rgba(150, 200, 247, 0.849);
    padding-bottom: 5px;
    margin-bottom: 1em;
  }

  cell-position {
    position: relative;
  }
  
  .is-active {
    color: rgba(150, 200, 247, 0.849) !important;
    background: none !important;
  }

  .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: none;
  }

  .mdl-tabs__tab-bar {
    border-bottom: none;
  }