.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .category-tab {
    /* font-family: 'Dancing Script', cursive; */
    color: white;
    font-size: 1.5vw;
  }

  .tabs-container {
    position: relative;
    margin-bottom: 2%;
  }
  
  .project-tabs {
    position: relative;
    width: 50%;
    transform: translate(50%);
    height: 100%;
    border-top: 1px solid rgba(150, 200, 247, 0.849);
  }

  .cell-position {
    position: relative;
  }
  
  .is-active {
    color: rgba(150, 200, 247, 0.849) !important;
    background: none !important;
  }

  .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background: none;
  }

  .mdl-tabs__tab-bar {
    border-bottom: none;
  }

  @media only screen and (max-width: 760px) {
    .category-tab {
      font-size: 2.25vw;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .category-tab {
      font-size: 3vw;
    }
    
    .mdl-tabs__tab {
      cursor: pointer;
      padding: 0;
      width: 100%;
    }
  }
