.project-card {
    margin: 1em;
}

.project {
    width: 30%;
    padding: 1em;
    transition: .6s;
}

.project:hover{
    transform: scale(1.2);
}

.project-card-menu {
    color: white;
}

.project-card-title {
    color: white;
    height: 175px;
    text-align: center;
    background: url(https://cdn-images-1.medium.com/max/1200/1*y6C4nSvy2Woe0m7bWEn4BA.png) center/cover;
}