.project-card {
    min-width: 350px;
    margin: 'auto';
}

.project {
    padding: 1em;
    transition: .6s;
}

.project:hover{
    transform: scale(1.2);
}

.project-card-menu {
    color: white;
}

.project-card-title {
    color: white;
    height: 175px;
}
