body {
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Libre Baskerville", serif; 

  overflow: hidden;
}

.header {
  display: flex;
  position: absolute;
  text-align: center;
  left: 33%;
}

.header-color {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}

.header-position {
  position: relative;
}

.navigation-link {
  font-family: 'Dancing Script', cursive;
  font-size: 150%;
}

.navigation-link-selected {
  color: rgba(46, 145, 238, 0.849) !important;
  font-family: 'Dancing Script', cursive;
  font-size: 150%;
}

.navigation-link:hover {
  color: rgba(46, 145, 238, 0.849);
}

.header-navigation {
  font-size: 150%;
}

::-webkit-scrollbar { 
  display: none; 
}