.banner {
    position: absolute;
    background-color: #0000006A;
    opacity: .85;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 2em;
}

.w75 {
    width: 75%;
}

.w60 {
    width: 60%;
}

.wCenter {
    left: 50%;
    transform: translateX(-50%);
}