.banner {
    position: absolute;
    background-color: transparent;
    opacity: .85;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 1em;
    /* overflow: scroll; */
    overflow-y:scroll;
    overflow-x: hidden;
}

.h50 {
    height: 45%;
}

.w75 {
    width: 75%;
}

.w60 {
    width: 60%;
}

.wCenter {
    left: 50%;
    transform: translateX(-50%);
}

/* width */
.banner::-webkit-scrollbar {
    width: 10px;
    /* height:50px; */
  }
  
  /* Track */
  .banner::-webkit-scrollbar-track {
    background: #FFFFFF1F;
    height:50px;
    /* margin: 110px 0; */
  }
  
  /* Handle */
  .banner::-webkit-scrollbar-thumb {
    
    background: #fd8700;

    border-radius: 15px; 
    height: 1px;
  }
